<% if @user %>
  <div class="profile_header">
  <img src="https://scontent-mad1-1.cdninstagram.com/vp/7512ec91b64619d2d3b092a19ea7c708/5BE86D9C/t51.2885-19/s150x150/30903588_162073534459225_7418444646692421632_n.jpg?efg=eyJ1cmxnZW4iOiJ1cmxnZW5fZnJvbV9pZyJ9" height="50px" width="50px" class="profile_img"><p id="user"><%= @user %></p> 
  </div>
  <img src="http://www.rockhamptoncitycentre.com.au/wp-content/themes/rockhampton/images/google-map-img.jpg" class="map">
  	<%= @json_data %>
<% end %>