<% if @user %>
  <div class="profile_header">
		 
  <img src="<%= @img_user %>" height="50px" width="50px" class="profile_img"><p id="user"><%= @user %></p> 

  </div>
  <img src="http://www.rockhamptoncitycentre.com.au/wp-content/themes/rockhampton/images/google-map-img.jpg" class="map">
  	<%= @json_data %>
<% end %>

