<% if @user %>
  <head>
  	<script  src="http://maps.google.com/maps/api/js?sensor=false"></script> 
	<script src="jquery.gomap-1.3.3.min.js"></script>

	<script type="text/javascript">
		
			$(document).ready(function() {
		
		$("#mapa").goMap({

			});

		
	}); 
	</script>
	</head>
	
  <div class="profile_header">
  <img src="https://scontent-mad1-1.cdninstagram.com/vp/7512ec91b64619d2d3b092a19ea7c708/5BE86D9C/t51.2885-19/s150x150/30903588_162073534459225_7418444646692421632_n.jpg?efg=eyJ1cmxnZW4iOiJ1cmxnZW5fZnJvbV9pZyJ9" height="50px" width="50px" class="profile_img"><p id="user"><%= @user %></p> 
  
  </div>
 			<div>
			<h1>Google Maps</h1>
            
            <div id="mapa"></div>

	</div>		 
  <p> <%= @x %></p>
<% end %>

